# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Cristian (HDD)\OneDrive\Universidad-2\Cuatrimestre 1\Sistemas Operativos\PRACTICAS\SO-shell\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
